.error {
  display: flex;
  text-align: center;
}

.errorMob {
  display: flex;
  flex-direction: "column";
}
@media (max-width: 500px) {
  .error {
    display: none;
  }
}

@media (min-width: 500px) {
  .errorMob {
    display: none;
  }
}
